* {
	position: relative
}

body {

  background-color: #DADDE5;
  
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  height: 200px;
  margin:auto;
  background-image: url('resources/images/wall1.jpeg'); 
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.header a {
  float:none;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  font-family: arial;
  font-weight: bold;
  text-shadow: 2px 2px 8px #D1D1D1;
}

form  {

}

ul { text-align: center; }

li { display: inline-block; } 


.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color: white;
}

.header-right a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
  text-shadow: 0px 0px 0px;
}

.header-right {
  
 /*  margin-left:550px;
  margin-top:25px; */
  
}

.title
{
 text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-weight: 700;
  font-family: "Roboto Slab", "Times New Roman", serif;
  color: white;
  position: center center;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  color: white;
}



button
{
	background-color:dodgerblue;
	border:none;
	border-radius:5px;
	color: white;
	text-align:center;
	font-size:18px;
}

#container
{
	margin:auto;	
	top:20px;
	width:auto;
	height:auto;
}

#language 
{
  text-align: center;
  position: center;
  margin: auto;
  margin-top: 25px;
  text-decoration: none;
}

#logo-pic
{
	border-radius: 15px;
	position: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#container form
{
	padding: 10px;
	background: #FFFFFF;
    position: relative;
	margin: 60px 200px 60px 200px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}


#rezultate
{	
	margin-top:10px;
	height:auto;
	width:350px;
	background-color:dodgerblue;
	border: 10px;
	border-radius:5px;
	color:white;
	position: center;
	margin:auto;	
}

#rezultate p
{
	padding:5px;
	
	
}

.aplicatie
{
	margin:auto;
	position:center;
}

#input_label
{
	font-family: garamond;
	font-weight: bold;
	font-size: 20px;
}

#clipuri
{
	top:30px;
}

#search_el
{
	top:5px;
}

#result_field
{
	top:5px;
    background-color: powderblue;
	border-width:1px;
	border-color: blue;
	height:auto;
	width:auto;
}



.group:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

i, em {
	font-style: italic;
}

a {
	color: inherit;
	text-decoration: none;
}